/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 800px;
    padding: 10px 30px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px; 
    font-weight: 700px;
}

.section-description {
    color: #757575;
 text-align: center;
 font-size: 18px;   
}

/* nav related styles */
 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 90px;

}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800px;
}

nav> ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related styles */
.header{
    background-color: #fff8f3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    min-width: 500px;
}
.banner .profile-pic{
    width: 1000px;
    align-items: center;
}

.banner-greeting {
    font-size: 60px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    font-size: 500px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px;
}

/* main section styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* main section styles*/
.about {
    padding: 130px;
    border-radius:  10px;
    background: #fff8f3;
    /* margin: 130px 0px; */
}

.about-container{
    display: flex;
    /* background-color: #181818 */
    justify-content: space-around;
}

.about-info{
    text-align: center;
}



